<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mipto Tech</title>
		<link rel="icon" type="image/png" href="uploads/home/logoforma.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Savvy version 1.0.5 date: 2017-05-03 13:18:09 -->
        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="assets/csslib/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="assets/csslib/icomoon.css">
        <link rel="stylesheet" type="text/css" href="assets/csslib/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-custom.css">
        <link rel="stylesheet" type="text/css" id="savvyStyle" href="assets/css/main-skin-style5.css">
        <!-- end stylesheets -->
    </head>
    <style>
        .logo_azul {
        color: rgb(0, 128, 255);
        font-size: 70px;
        }

        .logo_naranja {
        color: #FFCC99;
        font-size: 70px;
        }

        .prueba:hover{
            transform: translateY(-10px);
        }
	</style>
    <body class="layout-body layout-body--services">
        <!-- .layout -->
        <div class="layout layout-width">
            <div class="layout-anti-scroll layout-anti-scroll--active layout-width"></div>
            <!-- .layout-header -->
            <div class="layout-header layout-width">
                <header>
                    <div id="headerMenuSlidingElement" class="main-nav__sliding-element"></div>
                    <ul class="main-nav">
                        <li class="main-nav__item ">
                            <a class="main-nav__item-link" href="index.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-home"></i>
                                </span>
                                <span class="main-nav__item-content">Inicio</span>
                            </a>
                        </li>
                        <li class="main-nav__item main-nav__item--active">
                            <a class="main-nav__item-link" href="services.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-stats-bars2"></i>
                                </span>
                                <span class="main-nav__item-content">Servicios</span>
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a class="main-nav__item-link" href="portafolio.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-books"></i>
                                </span>
                                <span class="main-nav__item-content">Portafolio</span>
                            </a>
						</li>
                        <li class="main-nav__item">
                            <a class="main-nav__item-link" href="contact.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-info"></i>
                                </span>
                                <span class="main-nav__item-content">Nosotros</span>
                            </a>
                        </li>
                    </ul>
                    <div class="mobile-menu">
                        <a class="mobile-menu__toggle" href="services.html#">
                            <span class="mobile-menu__toggle__icon">
                                <i class="fa fa-bars mobile-menu__toggle__icon__open"></i>
                                <i class="fa fa-times mobile-menu__toggle__icon__close"></i>
                            </span>
                        </a>
                    </div>
                </header>
            </div>
            <!-- end .layout-header -->
            <!-- .layout-sidebar -->
            <div class="layout-sidebar layout-sidebar-width">
                <!-- .sidebar -->
                <div class="sidebar" style="background-image: linear-gradient(to bottom right, rgb(0, 128, 255), #FFCC99);">
                    <div class="sidebar__site-name">Mipto Tech</div>
                    <!-- .social-icons -->
						<ul class="social-icons">
							<li>
                                <a href="https://wa.me/584142803614" target="_blank" class="social-icon--twitter">
                                    <img src="assets/images/whatsapp2.png" alt="" width="45px">
                                </a>
                            </li>
                            <li>
                                <a href="mailto:miptotech@gmail.com" target="_blank" class="social-icon--google-plus">
                                    <img src="assets/images/gmail.png" alt="" width="55px">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/miptotech/" target="_blank" class="social-icon--linkedin">
                                    <img src="assets/images/instagram.png" alt="" width="45px">
                                    
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/mipto-tech" target="_blank" class="social-icon--linkedin">
                                    <img src="assets/images/linkedin.png" alt="" width="45px">
                                </a>
                            </li>				
                        </ul>
                        
                    <!-- end .social-icons -->
                    <footer class="footer">
                        <p class="footer__copyright">&copy; Mipto, 2020. All rights reserved.</p>
                    </footer>
                </div>
                <!-- end .sidebar -->
            </div>
            <!-- end .layout-sidebar -->
            <div class="layout-container-main layout-container-width">
                <!-- .layout-content -->
                <div class="layout-content">
                    <section style="margin-top:70px;" class="page-services">
                        <div class="container-fluid text-center">
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="prueba" style="text-align: center;">
                                    <img src="assets/images/ecommerce.png" alt="" width="70px">
                                    <h4 style="font: normal normal 1.350em/1em Novecento_wide_bold; margin-bottom:0px; margin-top:10px">Ecommerce</h4>
                                    </div>
                                    <p style="text-align: center;">¡Lleva tu negocio al siguiente nivel! Vende tus productos a través de las mejores plataformas online para que tus compradores puedan adquirirlos con la mayor facilidad.</p>
                                  </div>
                              <div class="col-sm-4">
                                <div class="prueba" style="text-align: center;">
                                    <img src="assets/images/disenoweb.png" alt="" width="70px">
                                <h4 style="font: normal normal 1.350em/1em Novecento_wide_bold; margin-bottom:0px; margin-top:10px">Diseno Web</h4>
                                </div>
                                <p style="text-align: center;">¡Da a conocer tu negocio en Internet! Atrévete a distinguirte entre los demás. Nos encargamos de desarrollar tu Páginas Web con los mejores manejadores de contenido y plataformas, siempre a la medida de tu negocio. </p>
                              </div>
                              <div class="col-sm-4">
                                <div class="prueba" style="text-align: center;">
                                    <img src="assets/images/phone.png" alt="" width="70px">
                                <h4 style="font: normal normal 1.350em/1em Novecento_wide_bold; margin-bottom:0px; margin-top:10px">Aplicaciones moviles </h4>
                                </div>
                                <p style="text-align: center;">Te ofrecemos la posibilidad de desarrollar tus aplicaciones móviles con las mejores plataformas Framework para App Store, Google Play.</p>
                              </div>
                            </div>
                              <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="prueba" style="text-align: center;">
                                        <img src="assets/images/seo.png" alt="" width="65px">
                                    <h4 style="font: normal normal 1.350em/1em Novecento_wide_bold; margin-bottom:0px; margin-top:10px">Optimizacion SEO</h4>
                                    </div>
                                    <p style="text-align: center;">Te administramos y analizamos tus campañas publicitarias de alto rendimiento para que comiences a desarrollar una gran base de clientes potenciales para tu negocio.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="prueba" style="text-align: center;">
                                        <img src="assets/images/keyboard.png" alt="" width="70px">
                                    <h4 style="font: normal normal 1.350em/1em Novecento_wide_bold; margin-bottom:0px; margin-top:10px">Desarrollo Web</h4>
                                    </div>
                                    <p style="text-align: center;">Programar con las mejores aplicaciones ha sido una ventaja de años para nosotros. Creamos publicaciones y promovemos contenido atractivo para generar más tráfico y construir una comunidad dedicada.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="prueba" style="text-align: center;">
                                    <img src="assets/images/socialmedia.png" alt="" width="70px">
                                    <h4 style="font: normal normal 1.350em/1em Novecento_wide_bold; margin-bottom:0px; margin-top:10px">Social Marketing</h4>
                                    </div>
                                    <p style="text-align: center;">Crea y administra campañas de alto nivel y rendimiento y comienza a desarrollar una base de clientes potenciales, fanáticos y dedicados al Social Media.</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="prueba" style="text-align: center;">
                                        <img src="assets/images/Marketing.png" alt="" width="65px">
                                    <h4 style="font: normal normal 1.350em/1em Novecento_wide_bold; margin-bottom:0px; margin-top:10px">Marketing de contenido</h4>
                                    </div>
                                    <p style="text-align: center;">Muestra lo que quieres decir. Tus potenciales clientes quieren encontrar la respuesta para poder alcanzar el éxito que tanto anhelan.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="prueba" style="text-align: center;">
                                    <img src="assets/images/mailing.png" alt="" width="70px">
                                    <h4 style="font: normal normal 1.350em/1em Novecento_wide_bold; margin-bottom:0px; margin-top:10px">Email Marketing</h4>
                                    </div>
                                    <p style="text-align: center;">Toda empresa requiere incrementar la cartera de clientes, con el Email Marketing puedes crear promociones, administrar y mantener a tus contactos informados.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="prueba" style="text-align: center;">
                                        <img src="assets/images/game.png" alt="" width="65px">
                                    <h4 style="font: normal normal 1.350em/1em Novecento_wide_bold; margin-bottom:0px; margin-top:10px">Desarrollo Grafico</h4>
                                    </div>
                                    <p style="text-align: center;">Dale tu modelado 3D a tus proyectos, además de Satisfacer  tus necesidades en videojuegos, realidad virtual, entre otros.</p>
                                </div>
                            </div>
                          </div>


                        <!-- <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-headphones" style="color: #F19C1E; border: 2px solid rgb(43, 89, 184);"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">ATENCIÓN AL CLIENTE</h2>
                                    <p class="service-item__description">Gestión de las relaciones con clientes, soluciones inmediatas y oportunidades de negocios, mediante múltiples canales.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-briefcase" style="color: rgb(43, 89, 184); border: 2px solid #F19C1E;"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">CONSULTORÍA</h2>
                                    <p class="service-item__description">Auditoría y acompañamiento en el desarrollo de los procesos de nuestros clientes.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-money" style="color: #F19C1E; border: 2px solid rgb(43, 89, 184);"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">COBRANZAS</h2>
                                    <p class="service-item__description">Actuación durante el ciclo del crédito y en todos los niveles de atrasos, con el cuidado de mantener a los clientes activos y leales.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-bell" style="color: rgb(43, 89, 184); border: 2px solid #F19C1E;"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">VENTAS</h2>
                                    <p class="service-item__description">Oferta calificada de productos y servicios a lo largo del ciclo de vida </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-question-circle" style="color: #F19C1E; border: 2px solid rgb(43, 89, 184);"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">SOPORTE TÉCNICO</h2>
                                    <p class="service-item__description">Diagnóstico, análisis y solución de problemas técnicos.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
						                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-phone" style="color: rgb(43, 89, 184); border: 2px solid #F19C1E;"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">BACK OFFICE</h2>
                                    <p class="service-item__description">Análisis, gestión, control y automatización de procesos críticos. </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-envelope" style="color: #F19C1E; border: 2px solid rgb(43, 89, 184);"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">GESTIÓN DE RECLAMOS</h2>
                                    <p class="service-item__description">Apoyo centralizado y actuación proactiva, preventiva y solucionadora de las demandas de los usuarios.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
						<div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-search" style="color: rgb(43, 89, 184); border: 2px solid #F19C1E;"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">ESTUDIOS DE MERCADO/FIDELIDAD</h2>
                                    <p class="service-item__description">Conocimiento del comportamiento de su cliente. Fidelización y retención de clientes. </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div> -->
                    </section>
                </div>
                <!-- end .layout-content -->
                <div class="footer--bottom layout-row">
                    <p class="footer__copyright">&copy; Mipto Tech, 2020. All rights reserved.</p>
                </div>
            </div>
        </div>
        <!-- end .layout -->
        <!-- javascripts -->
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="assets/jslib/jquery-1.11.2.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.ba-bbq.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.mCustomScrollbar.js"></script>
        <script type="text/javascript" src="assets/jslib/bootstrap-transition.js"></script>
        <script type="text/javascript" src="assets/jslib/bootstrap-collapse.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.easypiechart.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.raty.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.sharrre.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.hoverdir.js"></script>
        <script type="text/javascript" src="assets/js/Template.js"></script>
        <!-- end javascripts -->
        <!-- .style-panel -->
        <!-- end .style-panel -->
        <!-- style panel assets -->
        <script type="text/javascript" src="assets/jslib/jquery.cookie.js"></script>
        <script type="text/javascript" src="assets/js/StylePanel.js"></script>
        <!-- end style panel assets -->
    </body>
</html>