<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Womanketing</title>
		<link rel="icon" type="image/png" href="uploads/home/bccmin.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Savvy version 1.0.5 date: 2017-05-03 13:18:09 -->
        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="assets/csslib/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="assets/csslib/icomoon.css">
        <link rel="stylesheet" type="text/css" href="assets/csslib/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-custom.css">
        <link rel="stylesheet" type="text/css" id="savvyStyle" href="assets/css/main-skin-style5.css">
        <!-- end stylesheets -->
    </head>
    <body class="layout-body layout-body--services">
        <!-- .layout -->
        <div class="layout layout-width">
            <div class="layout-anti-scroll layout-anti-scroll--active layout-width"></div>
            <!-- .layout-header -->
            <div class="layout-header layout-width">
                <header>
                    <div id="headerMenuSlidingElement" class="main-nav__sliding-element"></div>
                    <ul class="main-nav">
                        <li class="main-nav__item ">
                            <a class="main-nav__item-link" href="index.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-home"></i>
                                </span>
                                <span class="main-nav__item-content">Inicio</span>
                            </a>
                        </li>
                        <li class="main-nav__item main-nav__item--active">
                            <a class="main-nav__item-link" href="services.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-stats-bars2"></i>
                                </span>
                                <span class="main-nav__item-content">Servicios</span>
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a class="main-nav__item-link" href="contact.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-info"></i>
                                </span>
                                <span class="main-nav__item-content">Nosotros</span>
                            </a>
                        </li>
                    </ul>
                    <div class="mobile-menu">
                        <a class="mobile-menu__toggle" href="services.html#">
                            <span class="mobile-menu__toggle__icon">
                                <i class="fa fa-bars mobile-menu__toggle__icon__open"></i>
                                <i class="fa fa-times mobile-menu__toggle__icon__close"></i>
                            </span>
                        </a>
                    </div>
                </header>
            </div>
            <!-- end .layout-header -->
            <!-- .layout-sidebar -->
            <div class="layout-sidebar layout-sidebar-width">
                <!-- .sidebar -->
                <div class="sidebar" style="background-color: #ffff;">
                    <div class="sidebar__site-name">La mujer del marketing</div>
                    <!-- .social-icons -->
						<ul class="social-icons">
							<li>
								<a href="https://wa.me/17077502186" target="_blank" class="social-icon--twitter">
									<img src="assets/images/wa.png" alt="" width="45px">
								</a>
							</li>
							<li>
								<a href="mailto:gerencia@bcc.com.es" target="_blank" class="social-icon--google-plus">
									<img src="assets/images/gg.png" alt="" width="45px">
								</a>
							</li>
							<li>
								<a href="https://instagram.com/bcc.oficial?igshid=1bc30iqav364h" target="_blank" class="social-icon--linkedin">
									<img src="assets/images/ig.png" alt="" width="45px">
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/in/jorge-chacon-621929152/" target="_blank" class="social-icon--linkedin">
									<img src="assets/images/in.png" alt="" width="45px">
								</a>
							</li>					
						</ul>
                    <!-- end .social-icons -->
                    <footer class="footer">
                        <p class="footer__copyright">&copy; Womanketing, 2020. All rights reserved.</p>
                    </footer>
                </div>
                <!-- end .sidebar -->
            </div>
            <!-- end .layout-sidebar -->
            <div class="layout-container-main layout-container-width">
                <!-- .layout-content -->
                <div class="layout-content">
                    <section class="page-services">
                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-headphones" style="color: #CDA434; border: 4px solid #ffff;"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">ATENCIÓN AL CLIENTE</h2>
                                    <p class="service-item__description">Gestión de las relaciones con clientes, soluciones inmediatas y oportunidades de negocios, mediante múltiples canales.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-briefcase" style="color: #CDA434 ; border: 2px solid #000;"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">CONSULTORÍA</h2>
                                    <p class="service-item__description">Auditoría y acompañamiento en el desarrollo de los procesos de nuestros clientes.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-money" style="color: #CDA434 ; border: 2px solid #ffff;"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">COBRANZAS</h2>
                                    <p class="service-item__description">Actuación durante el ciclo del crédito y en todos los niveles de atrasos, con el cuidado de mantener a los clientes activos y leales.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-bell" style="color: #CDA434 ; border: 2px solid #000;"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">VENTAS</h2>
                                    <p class="service-item__description">Oferta calificada de productos y servicios a lo largo del ciclo de vida </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-question-circle" style="color: #CDA434 ; border: 2px solid #ffff;"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">SOPORTE TÉCNICO</h2>
                                    <p class="service-item__description">Diagnóstico, análisis y solución de problemas técnicos.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
						                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-phone" style="color: #CDA434 ; border: 2px solid #000;"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">BACK OFFICE</h2>
                                    <p class="service-item__description">Análisis, gestión, control y automatización de procesos críticos. </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-envelope"style="color:#CDA434; border: 2px solid #ffff;"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">GESTIÓN DE RECLAMOS</h2>
                                    <p class="service-item__description">Apoyo centralizado y actuación proactiva, preventiva y solucionadora de las demandas de los usuarios.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
						<div class="layout-row service-item">
                            <div class="layout-container">
                                <div class="service-item__icon-wrap">
                                    <div class="service-item__icon">
                                        <i class="fa fa-search" style="color: #CDA434 ; border: 2px solid #000;"></i>
                                    </div>
                                </div>
                                <div class="service-item__content">
                                    <h2 class="service-item__title">ESTUDIOS DE MERCADO/FIDELIDAD</h2>
                                    <p class="service-item__description">Conocimiento del comportamiento de su cliente. Fidelización y retención de clientes. </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- end .layout-content -->
                <div class="footer--bottom layout-row">
                    <p class="footer__copyright">&copy; BCC, 2020. All rights reserved.</p>
                </div>
            </div>
        </div>
        <!-- end .layout -->
        <!-- javascripts -->
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="assets/jslib/jquery-1.11.2.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.ba-bbq.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.mCustomScrollbar.js"></script>
        <script type="text/javascript" src="assets/jslib/bootstrap-transition.js"></script>
        <script type="text/javascript" src="assets/jslib/bootstrap-collapse.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.easypiechart.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.raty.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.sharrre.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.hoverdir.js"></script>
        <script type="text/javascript" src="assets/js/Template.js"></script>
        <!-- end javascripts -->
        <!-- .style-panel -->
        <!-- end .style-panel -->
        <!-- style panel assets -->
        <script type="text/javascript" src="assets/jslib/jquery.cookie.js"></script>
        <script type="text/javascript" src="assets/js/StylePanel.js"></script>
        <!-- end style panel assets -->
    </body>
</html>