<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Augusto Ramirez</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="assets/images/favicon.png">
        <!-- Savvy version 1.0.5 date: 2017-05-03 13:18:09 -->
        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="assets/csslib/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="assets/csslib/icomoon.css">
        <link rel="stylesheet" type="text/css" href="assets/csslib/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-custom.css">
        <link rel="stylesheet" type="text/css" id="savvyStyle" href="assets/css/main-skin-style5.css">
        <!-- end stylesheets -->
    </head>
    <body class="layout-body layout-body--resume">
        <!-- .layout -->
        <div class="layout layout-width">
            <div class="layout-anti-scroll layout-anti-scroll--active layout-width"></div>
            <!-- .layout-header -->
            <div class="layout-header layout-width">
                <header>
                    <div id="headerMenuSlidingElement" class="main-nav__sliding-element"></div>
                    <ul class="main-nav">
                        <li class="main-nav__item">
                            <a class="main-nav__item-link" href="index.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-home"></i>
                                </span>
                                <span class="main-nav__item-content">Home</span>
                            </a>
                        </li>
                        <li class="main-nav__item main-nav__item--active">
                            <a class="main-nav__item-link" href="resume.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-profile"></i>
                                </span>
                                <span class="main-nav__item-content">Resume</span>
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a class="main-nav__item-link" href="portfolio.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-books"></i>
                                </span>
                                <span class="main-nav__item-content">My Job</span>
                            </a>
                        </li>
                    </ul>
                    <div class="mobile-menu">
                        <a class="mobile-menu__toggle" href="resume.html#">
                            <span class="mobile-menu__toggle__icon">
                                <i class="fa fa-bars mobile-menu__toggle__icon__open"></i>
                                <i class="fa fa-times mobile-menu__toggle__icon__close"></i>
                            </span>
                        </a>
                    </div>
                </header>
            </div>
            <!-- end .layout-header -->
            <!-- .layout-sidebar -->
            <div class="layout-sidebar layout-sidebar-width">
                <!-- .sidebar -->
                <div class="sidebar">
                    <div class="sidebar__site-name">Augusto Ramirez.</div>
                    <div class="widget">
                        <ul class="widget__list">
                            <li>CTO (Mipto Tech)</li>
                            <li>Technichal Leader</li>
                            <li>Fullstack Developer</li>
                        </ul>
                    </div>
                    <!-- .social-icons -->
                    <ul class="social-icons">
                        <li>
                            <a href="https://wa.me/34623194350" target="_blank" class="social-icon--twitter">
                                <img src="assets/images/wa.png" alt="" width="45px">
                            </a>
                        </li>
                        <li>
                            <a href="mailto:augedsa@gmail.com" target="_blank" class="social-icon--google-plus">
                                <img src="assets/images/gg.png" alt="" width="45px">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/augusto-ramirez-81887031 " target="_blank" class="social-icon--linkedin">
                                <img src="assets/images/in.png" alt="" width="45px">
                            </a>
                        </li>
                    </ul>
                    <!-- end .social-icons -->
                    <footer class="footer">
                        <p class="footer__copyright">&copy; Ramirez, 2020. All rights reserved.</p>
                    </footer>
                </div>
                <!-- end .sidebar -->
            </div>
            <!-- end .layout-sidebar -->
            <div class="layout-container-main layout-container-width">
                <!-- .layout-content -->
                <div class="layout-content">
                    <section class="page-resume">
                        <div class="layout-title-wrapper layout-row">
                            <h1 class="layout-title layout-container-width layout-container">Resume.
                                <span class="layout-title__subtitle">Up-to-date</span>
                            </h1>
                        </div>
                        <div class="layout-row">
                            <!-- .accordion-group -->
                            <div class="accordion-group" role="tablist" aria-multiselectable="true">
                                <div class="accordion-item accordion-item--layout">
                                    <h2 data-toggle="collapse" data-target="#collapse0" class="accordion-title layout-container">
                                        <i class="accordion-title__icon fa fa-suitcase"></i>Experience
                                        <i class="accordion-title__state-icon fa "></i>
                                    </h2>
                                    <div id="collapse0" class="accordion-item__panel collapse in">
                                        <!-- .timeline -->
                                        <div class="timeline timeline--layout layout-container">
                                            <div class="timeline-item">
                                                <div class="timeline-item__col timeline-item__col--info">
                                                    <div class="timeline-item__period">Apr 2019 - Now</div>
                                                    <div class="timeline-item__place">Full on Net</div>
                                                    <div class="timeline-item__location">Madrid, España</div>
                                                </div>
                                                <div class="timeline-item__col timeline-item__col--description">
                                                    <div class="timeline-item__title">Senior Backend Developer</div>
                                                    <div class="timeline-item__description">
														Orchestrator service developer for Global Video Platform (GVP) department in Telefonica. Mainly working in Node.JS components (microservices) with , REST and           
														GraphQL. This project joins all the current APIs (Contents, Medias OTT, ExternalCatchups, User Rights, etc) 
														using arquitecture models components with API Gateway, BFF (Backend for Frontends), APIHUB.WorkingwithScrummanagement,    
														gitflow workflow,unittestingswithfullcoverage/cases,cachemanagementwithRedis. Docker/Openshift, CI/CD with Jenkins. </div>
													</div>
                                            </div>
                                            <hr class="divider layout-row">
                                            <div class="timeline-item">
                                                <div class="timeline-item__col timeline-item__col--info">
                                                    <div class="timeline-item__period">Jun 2015 - Now</div>
                                                    <div class="timeline-item__place">Mipto Tech, C.A</div>
                                                    <div class="timeline-item__location">Caracas, Venezuela</div>
                                                     <!--   <img src="uploads/resume/google-logo.png" alt=""> </div> -->
                                                <div class="timeline-item__col timeline-item__col--description">
                                                    <div class="timeline-item__title">Technical Leader, Partner</div>
                                                    <div class="timeline-item__description">
														Entrepreneurship application development service (Startup) from different areas.        
														Publishing mobile applications, web applications, Windows and MacOS platforms. Computer graphics technologies for entertainment 
														and professional environment. 
													</div>
                                                </div>
                                            </div>
                                            <hr class="divider layout-row">
                                            <div class="timeline-item">
                                                <div class="timeline-item__col timeline-item__col--info">
                                                    <div class="timeline-item__period">Mar 2011 - Jan 2016</div>
                                                    <div class="timeline-item__place">IP-3 Software C.A</div>
                                                    <div class="timeline-item__location">Caracas, Venezuela</div>
                                                 <!--   <img src="uploads/resume/google-logo.png" alt=""> </div> -->
                                                <div class="timeline-item__col timeline-item__col--description">
                                                    <div class="timeline-item__title">Software Developer</div>
                                                    <div class="timeline-item__description">
														Software development about civil works, programing in cost estimates, computerized         
														drawing of structural plans and buildings calculations. 
													</div>
                                                </div>
                                            </div>											
                                        </div>
                                        <!-- end .timeline -->
                                    </div>
									</div>
                                </div>
                                <div class="accordion-item accordion-item--layout">
                                    <h2 data-toggle="collapse" data-target="#collapse1" class="accordion-title layout-container collapsed">
                                        <i class="accordion-title__icon fa fa-cubes"></i>Skills
                                        <i class="accordion-title__state-icon fa "></i>
                                    </h2>
                                    <div id="collapse1" class="accordion-item__panel collapse">
                                        <div class="layout-container">
                                            <!-- .skill-section -->
                                            <div class="skill-section">
                                                <h3 class="skill-section__title">Technical</h3>
                                                <div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Unity for Game Development, Mapbox, VR, ARkit</div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="100">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">100%</div>
                                                    </div>
                                                </div>
                                                <div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Visual .NET C++, .NET C# </div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="95">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">95%</div>
                                                    </div>
                                                </div>
                                                <div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Javascript, ES6, TypeScrip, AngularJS, JQuery </div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="95">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">95%</div>
                                                    </div>
                                                </div>
                                                <div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Node.js, Express.js, GraphQL, Jest </div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="90">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">90%</div>
                                                    </div>
                                                </div>
                                                <div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">NPM, Webpack, Git </div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="90">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">90%</div>
                                                    </div>
                                                </div>
												<div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">CSS with SASS  </div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="90">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">90%</div>
                                                    </div>
                                                </div>
												<div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Socket.IO, MongoDB, WPF (XAML)    </div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="75">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">75%</div>
                                                    </div>
                                                </div>
												<div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">MySQL, PostgresSQL, SQL Server   </div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="75">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">75%</div>
                                                    </div>
                                                </div>
												<div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">PHP (Laravel), Ruby on Rails, REST API  </div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="70">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">70%</div>
                                                    </div>
                                                </div>
												<div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Vue.JS, Java JSP, Servlets </div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="65">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">65%</div>
                                                    </div>
                                                </div>
												<div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Wordpress, Magento</div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="65">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">65%</div>
                                                    </div>
                                                </div>
												<div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Photoshop, Ilustrator</div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="60">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">60%</div>
                                                    </div>
                                                </div>
												<div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">AWS EC2, ECS, S3, CodeCommit, CodeBuild, CodePipeline </div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="60">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">60%</div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <!-- end .skill-section -->
                                            <hr class="divider layout-row">
                                            <!-- .skill-section -->
                                            <div class="skill-section">
                                                <h3 class="skill-section__title">Languages</h3>
                                                <div class="rating">
                                                    <div class="rating__title">Spanish</div>
                                                    <div data-score="8" class="rating__score"></div>
                                                    <div class="rating__value">Native</div>
                                                </div>
                                                <div class="rating">
                                                    <div class="rating__title">English</div>
                                                    <div data-score="4" class="rating__score"></div>
                                                    <div class="rating__value">Intermediate</div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <!-- end .skill-section -->
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item--layout">
                                    <h2 data-toggle="collapse" data-target="#collapse2" class="accordion-title layout-container collapsed">
                                        <i class="accordion-title__icon fa fa-graduation-cap"></i>Education
                                        <i class="accordion-title__state-icon fa "></i>
                                    </h2>
                                    <div id="collapse2" class="accordion-item__panel collapse">
                                        <!-- .timeline -->
                                        <div class="timeline timeline--layout layout-container">
                                            <div class="timeline-item">
                                                <div class="timeline-item__col timeline-item__col--info">
                                                    <div class="timeline-item__period">2015</div>
                                                    <div class="timeline-item__place">Universidad Central de Venezuela</div>
                                                    <div class="timeline-item__location">Caracas, Venezuela</div>
													</div>
                                                <div class="timeline-item__col timeline-item__col--description">
                                                    <div class="timeline-item__title">MSc Project Management</div>
                                                    <div class="timeline-item__description">
                                                        <ul class="list-style--check">
                                                            <li>Degree Thesis on Computer Graphics (2015) “​<i>Defragmentation Of 3D Atlas          
																Texture for Volume Multi-Resolution Visualization</i> ​ ” in C++ with OpenGL,         CUDA and OpenMP </li>
                                                            <li>Trainer II: Computer Structure and Organization I </li>
                                                            <li>Trainer I: Computer Structure and Organization I </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end .timeline -->
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item--layout">
                                    <h2 data-toggle="collapse" data-target="#collapse3" class="accordion-title layout-container collapsed">
                                        <i class="accordion-title__icon fa fa-trophy"></i>Interests
                                        <i class="accordion-title__state-icon fa "></i>
                                    </h2>
                                    <div id="collapse3" class="accordion-item__panel collapse">
                                        <div class="layout-container">
                                            <!-- .achievement-grid -->
                                            <div class="achievement-grid">
                                                <div class="achievement-grid__screen">
                                                    <div class="achievement-grid__cell">
                                                        <div class="achievement-item">
                                                            <div class="achievement-item__icon">
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                            <div class="achievement-item__titles">
                                                                <div class="achievement-item__title"></div>
                                                                <div class="achievement-item__sub-title">Cooking</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="achievement-grid__cell">
                                                        <div class="achievement-item">
                                                            <div class="achievement-item__icon">
                                                                <i class="fa fa-gamepad"></i>
                                                            </div>
                                                            <div class="achievement-item__titles">
                                                                <div class="achievement-item__title"></div>
                                                                <div class="achievement-item__sub-title">Videogames</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="achievement-grid__cell">
                                                        <div class="achievement-item">
                                                            <div class="achievement-item__icon">
                                                                <i class="fa fa-futbol-o"></i>
                                                            </div>
                                                            <div class="achievement-item__titles">
                                                                <div class="achievement-item__title"></div>
                                                                <div class="achievement-item__sub-title">Sports</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="achievement-grid__cell">
                                                        <div class="achievement-item">
                                                            <div class="achievement-item__icon">
                                                                <i class="fa fa-plane"></i>
                                                            </div>
                                                            <div class="achievement-item__titles">
                                                                <div class="achievement-item__title"></div>
                                                                <div class="achievement-item__sub-title">Travel</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end .achievement-grid -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end .accordion-group -->
                        </div>
                    </section>
                </div>
                <!-- end .layout-content -->
                <div class="footer--bottom layout-row">
                    <p class="footer__copyright">&copy; Ramirez, 2020. All rights reserved.</p>
                </div>
            </div>
        </div>
        <!-- end .layout -->
        <!-- javascripts -->
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="assets/jslib/jquery-1.11.2.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.ba-bbq.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.mCustomScrollbar.js"></script>
        <script type="text/javascript" src="assets/jslib/bootstrap-transition.js"></script>
        <script type="text/javascript" src="assets/jslib/bootstrap-collapse.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.easypiechart.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.raty.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.sharrre.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.hoverdir.js"></script>
        <script type="text/javascript" src="assets/js/Template.js"></script>
        <!-- end javascripts -->
        <!-- end .style-panel -->
        <!-- style panel assets -->
        <script type="text/javascript" src="assets/jslib/jquery.cookie.js"></script>
        <script type="text/javascript" src="assets/js/StylePanel.js"></script>
        <!-- end style panel assets -->
    </body>
</html>