<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Miguel Castillo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Savvy version 1.0.5 date: 2017-05-03 13:18:09 -->
        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="assets/csslib/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="assets/csslib/icomoon.css">
        <link rel="stylesheet" type="text/css" href="assets/csslib/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-custom.css">
        <link rel="stylesheet" type="text/css" id="savvyStyle" href="assets/css/main-skin-style5.css">
        <!-- end stylesheets -->
    </head>
    <body class="layout-body layout-body--resume">
        <!-- .layout -->
        <div class="layout layout-width">
            <div class="layout-anti-scroll layout-anti-scroll--active layout-width"></div>
            <!-- .layout-header -->
            <div class="layout-header layout-width">
                <header>
                    <div id="headerMenuSlidingElement" class="main-nav__sliding-element"></div>
                    <ul class="main-nav">
                        <li class="main-nav__item">
                            <a class="main-nav__item-link" href="index.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-home"></i>
                                </span>
                                <span class="main-nav__item-content">Home</span>
                            </a>
                        </li>
                        <li class="main-nav__item main-nav__item--active">
                            <a class="main-nav__item-link" href="resume.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-profile"></i>
                                </span>
                                <span class="main-nav__item-content">CV</span>
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a class="main-nav__item-link" href="services.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-stats-bars2"></i>
                                </span>
                                <span class="main-nav__item-content">Services</span>
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a class="main-nav__item-link" href="contact.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-envelop"></i>
                                </span>
                                <span class="main-nav__item-content">Contact</span>
                            </a>
                        </li>
                    </ul>
                    <div class="mobile-menu">
                        <a class="mobile-menu__toggle" href="resume.html#">
                            <span class="mobile-menu__toggle__icon">
                                <i class="fa fa-bars mobile-menu__toggle__icon__open"></i>
                                <i class="fa fa-times mobile-menu__toggle__icon__close"></i>
                            </span>
                        </a>
                    </div>
                </header>
            </div>
            <!-- end .layout-header -->
            <!-- .layout-sidebar -->
            <div class="layout-sidebar layout-sidebar-width">
                <!-- .sidebar -->
                <div class="sidebar">
                    <div class="sidebar__site-name">A N M A C</div>
                    <div class="widget">
                        <ul class="widget__list">
                            <li>GLOBAL  CONSULTING</li>
                        </ul>
                    </div>
                    <!-- .social-icons -->
                    <ul class="social-icons">
                        <li>
                            <a href="https://api.whatsapp.com/send?phone=12159332574&text=Hola" target="_blank" class="social-icon--twitter">
                                <img src="assets/images/wa2.png" alt="" width="40px">
                            </a>
                        </li>
                        <li>
                            <a href="mailto:castillo672@gmail.com" target="_blank" class="social-icon--google-plus">
                                <img src="assets/images/gg2.png" alt="" width="45px">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC2nn_L3UWVO9vfdS3GGMtNA" target="_blank" class="social-icon--linkedin">
                                <img src="assets/images/ig2.png" alt="" width="45px">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/miguel-castillo-alonzo-7313639/?msgConversationId=6652943759279476736&msgOverlay=true" target="_blank" class="social-icon--linkedin">
                                <img src="assets/images/in2.png" alt="" width="35px">
                            </a>
                        </li>
                    </ul>
                    <!-- end .social-icons -->
                    <footer class="footer">
                        <p class="footer__copyright">&copy; ANNMAC GLOBAL CONSULTING, LCC</p>
                    </footer>
                </div>
                <!-- end .sidebar -->
                    <footer class="footer">
                        <p class="footer__copyright">&copy; ANNMAC GLOBAL CONSULTING, LCC</p>
                    </footer>
                </div>
                <!-- end .sidebar -->
            </div>
            <!-- end .layout-sidebar -->
            <div class="layout-container-main layout-container-width">
                <!-- .layout-content -->
                <div class="layout-content">
                    <section class="page-resume">
                        <div class="layout-title-wrapper layout-row">
                            <h1 class="layout-title layout-container-width layout-container">Resumen
                                <span class="layout-title__subtitle">Actual</span>
                            </h1>
                        </div>
                        <div class="layout-row">
                            <!-- .accordion-group -->
                            <div class="accordion-group" role="tablist" aria-multiselectable="true">
                                <div class="accordion-item accordion-item--layout">
                                    <h2 data-toggle="collapse" data-target="#collapse0" class="accordion-title layout-container">
                                        <i class="accordion-title__icon fa fa-suitcase"></i>Experiencia
                                        <i class="accordion-title__state-icon fa "></i>
                                    </h2>
                                    <div id="collapse0" class="accordion-item__panel collapse in">
                                        <!-- .timeline -->
                                        <div class="timeline timeline--layout layout-container">
                                            <div class="timeline-item">
                                                <div class="timeline-item__col timeline-item__col--info">
                                                    <div class="timeline-item__period">Julio 2018 - Presente</div>
                                                    <div class="timeline-item__place">Anmac Global Consulting</div>
                                                    <div class="timeline-item__location">Phoenix Arizona</div>
                                                </div>
                                                <div class="timeline-item__col timeline-item__col--description">
                                                    <div class="timeline-item__title">Consultor Farmacéutico.</div>
                                                    <div class="timeline-item__description"> Investigaciones exhaustivas realizadas, ejecutadas y documentadas. Trabajó con las
                                                        PYME para identificar qué acción correctiva se debe implementar. Proporción de
                                                        comunicación detallada a la Administración sobre el estado de las iniciativas y
                                                        cuestiones clave. Seguimiento de métricas y otras actividades de apoyo al departamento
                                                        de quejas. Solución de problemas de calidad / cumplimiento de alto riesgo / alta
                                                        complejidad, utilizando la experiencia, el ingenio y la creatividad para proporcionar
                                                        soluciones a una amplia gama de causas fundamentales.</div>
                                                </div>
                                            </div>
                                            <hr class="divider layout-row">
                                            <div class="timeline-item">
                                                <div class="timeline-item__col timeline-item__col--info">
                                                    <div class="timeline-item__period">Septiembre 2018 - Julio 2018</div>
                                                    <div class="timeline-item__place">Piramal</div>
                                                    <div class="timeline-item__location">Lexington , Kentucky</div>
                                                </div>   
                                                <div class="timeline-item__col timeline-item__col--description">
                                                    <div class="timeline-item__title">Consultor Farmacéutico</div>
                                                    <div class="timeline-item__description"> Investigaciones exhaustivas realizadas, ejecutadas y documentadas. Trabajó con las
                                                        PYME para identificar qué acción correctiva se debe implementar. Proporción de
                                                        comunicación detallada a la Administración sobre el estado de las iniciativas y
                                                        cuestiones clave. Seguimiento de métricas y otras actividades de apoyo al departamento
                                                        de quejas. Las actividades clave incluyeron estandarización de procesos de CI,
                                                        aplicación de herramientas lean, gestión de cambios. Supervisar todos los aspectos de
                                                        calidad del centro de rendimiento, que son críticos para el funcionamiento diario de la
                                                        empresa. </div>
                                                </div>
                                            </div>
                                            <div class="timeline-item">
                                                <div class="timeline-item__col timeline-item__col--info">
                                                    <div class="timeline-item__period">Marzo 2014 - Mayo 2014</div>
                                                    <div class="timeline-item__place">Baxter</div>
                                                    <div class="timeline-item__location">Costa Rica</div>
                                                </div>
                                                <div class="timeline-item__col timeline-item__col--description">
                                                    <div class="timeline-item__title">Consultor de dispositivos médicos</div>
                                                    <div class="timeline-item__description"> Identificación áreas donde existe riesgo utilizando herramientas de Gestión de Riesgo y
                                                        procesos rediseñados. Entrenamiento y asesoró a equipos asignados en CAPA. Admitir
                                                        la programación de los recursos empresariales básicos necesarios para el éxito de la
                                                        ejecución del Paso QSE. Capacidad demostrada para fomentar el desarrollo individual y
                                                        grupal mediante la identificación y organización de capacitación formal sobre las
                                                        mejores prácticas de CAPA, que incluyen: definición del problema, investigación,
                                                        identificación de la causa raíz, desarrollo del plan de implementación y verificación de
                                                        la efectividad.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end .timeline -->
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item--layout">
                                    <h2 data-toggle="collapse" data-target="#collapse1" class="accordion-title layout-container collapsed">
                                        <i class="accordion-title__icon fa fa-cubes"></i>Habilidades
                                        <i class="accordion-title__state-icon fa "></i>
                                    </h2>
                                    <div id="collapse1" class="accordion-item__panel collapse">
                                        <div class="layout-container">
                                            <!-- .skill-section -->
                                            <div class="skill-section">
                                                <h3 class="skill-section__title"></h3>
                                                <div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Implementación LEAN / Kanban / Just In Time (JIT)</div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="100">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">100%</div>
                                                    </div>
                                                </div>
                                                <div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Planificación de recursos de fabricación (MRP)</div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="95">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">95%</div>
                                                    </div>
                                                </div>
                                                <div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Gestión de la cadena de suministro</div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="95">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">95%</div>
                                                    </div>
                                                </div>
                                                <div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Ciclo Plan Do Check Act (PDCA)</div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="80">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">80%</div>
                                                    </div>
                                                </div>
                                                <div class="progress-bar-wrap">
                                                    <div class="progress-bar__name">Mejoras medibles continuas (CMI)</div>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar__wrapper">
                                                            <div class="progress-bar__bar" data-level="75">
                                                                <div class="progress-bar__value" style="width:0;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-bar__progress">75%</div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <!-- end .skill-section -->
                                            <hr class="divider layout-row">
                                            <hr class="divider layout-row">
                                            <!-- .skill-section -->
                                            <div class="skill-section">
                                                <h3 class="skill-section__title">Idiomas</h3>
                                                <div class="rating">
                                                    <div class="rating__title">Español</div>
                                                    <div data-score="8" class="rating__score"></div>
                                                    <div class="rating__value">Native</div>
                                                </div>
                                                <div class="rating">
                                                    <div class="rating__title">Ingles</div>
                                                    <div data-score="6" class="rating__score"></div>
                                                    <div class="rating__value">Fluent</div>
                                                </div>
                                                <div class="rating">
                                                    <div class="rating__title">Italiano</div>
                                                    <div data-score="4" class="rating__score"></div>
                                                    <div class="rating__value">Intermediate</div>
                                                 <div class="clearfix"></div>
                                            </div>
                                            <!-- end .skill-section -->
                                            <hr class="divider layout-row">
                                            <!-- .skill-section -->
                                            <div class="skill-section">
                                                <h3 class="skill-section__title">Adicional</h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul class="list-style--check list-style--check--resume">
                                                            <li>Benchmarking para la calidad.</li>
                                                            <li>Regulaciones estatales y extranjeras aplicables y estándares utilizados habitualmente
                                                                en la industria.</li>
                                                                <li>Junta de control de cambios (CCB)</li>
                                                                <li> Implementación de funciones de calidad (QFD)</li>
                                                                <li>Evaluación del programa y Técnica de revisión (PERT)</li>
                                                                <li>Conocimiento de la implementación de gestión de calidad</li>

                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <!-- end .skill-section -->
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item--layout">
                                    <h2 data-toggle="collapse" data-target="#collapse2" class="accordion-title layout-container collapsed">
                                        <i class="accordion-title__icon fa fa-graduation-cap"></i>Educación
                                        <i class="accordion-title__state-icon fa "></i>
                                    </h2>
                                    <div id="collapse2" class="accordion-item__panel collapse">
                                        <!-- .timeline -->
                                        <div class="timeline timeline--layout layout-container">
                                            <div class="timeline-item">
                                                <div class="timeline-item__col timeline-item__col--info">
                                                    <div class="timeline-item__period">Otoño 2011</div>
                                                    <div class="timeline-item__place">Universidad de Phoenix</div>
                                                    <div class="timeline-item__location"></div>
                                                    <img src="uploads/home/phoenix.png" width="80%"> </div>
                                                <div class="timeline-item__col timeline-item__col--description">
                                                    <div class="timeline-item__title">Maestría en Administración de Empresas</div>
                                                    <div class="timeline-item__description">
                                                        <ul class="list-style--check">
                                                            <li>Gestión Global</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="divider layout-row">
                                            <div class="timeline-item">
                                                <div class="timeline-item__col timeline-item__col--info">
                                                    <div class="timeline-item__period">Verano 2008</div>
                                                    <div class="timeline-item__place">Universidad de Phoenix</div>
                                                    <div class="timeline-item__location"></div>
                                                    <img src="uploads/home/phoenix.png" width="80%"> </div>
                                                <div class="timeline-item__col timeline-item__col--description">
                                                    <div class="timeline-item__title">Licenciatura en Ciencias en Negocios</div>
                                                    <div class="timeline-item__description">
                                                        <ul class="list-style--check">
                                                            <li>Gestión</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end .timeline -->
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item--layout">
                                    <h2 data-toggle="collapse" data-target="#collapse3" class="accordion-title layout-container collapsed">
                                        <i class="accordion-title__icon fa fa-trophy"></i>Achievements
                                        <i class="accordion-title__state-icon fa "></i>
                                    </h2>
                                    <div id="collapse3" class="accordion-item__panel collapse">
                                        <div class="layout-container">
                                            <!-- .achievement-grid -->
                                            <div class="achievement-grid">
                                                <div class="achievement-grid__screen">
                                                    <div class="achievement-grid__cell">
                                                        <div class="achievement-item">
                                                            <div class="achievement-item__icon">
                                                                <i class="fa fa-users"></i>
                                                            </div>
                                                            <div class="achievement-item__titles">
                                                                <div class="achievement-item__title">206</div>
                                                                <div class="achievement-item__sub-title">Clientes satisfechos</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="achievement-grid__cell">
                                                        <div class="achievement-item">
                                                            <div class="achievement-item__icon">
                                                                <i class="fa fa-briefcase"></i>
                                                            </div>
                                                            <div class="achievement-item__titles">
                                                                <div class="achievement-item__title">20</div>
                                                                <div class="achievement-item__sub-title">equipos altamente capacitados en diversos países del mundo</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="achievement-grid__cell">
                                                        <div class="achievement-item">
                                                            <div class="achievement-item__icon">
                                                                <i class="fa fa-trophy"></i>
                                                            </div>
                                                            <div class="achievement-item__titles">
                                                                <div class="achievement-item__title">10</div>
                                                                <div class="achievement-item__sub-title">Experiencia en paises</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="achievement-grid__cell">
                                                        <div class="achievement-item">
                                                            <div class="achievement-item__icon">
                                                                <i class="fa fa-camera"></i>
                                                            </div>
                                                            <div class="achievement-item__titles">
                                                                <div class="achievement-item__title">30 conferencias</div>
                                                                <div class="achievement-item__sub-title">Speaker destacado</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end .achievement-grid -->
                                        </div>
                                    </div>
                                </div>
                                 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end .accordion-group -->
                        </div>
                    </section>
                </div>
                <!-- end .layout-content -->
                <div class="footer--bottom layout-row">
                    <p class="footer__copyright">&copy; Rossi, 2015. All rights reserved.</p>
                </div>
            </div>
        </div>
        <!-- end .layout -->
        <!-- javascripts -->
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyD5gbkIr_I_a1LdBLYjIJ27H_WPzAWTxOs"></script>
        <script type="text/javascript" src="assets/jslib/jquery-1.11.2.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.ba-bbq.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.mCustomScrollbar.js"></script>
        <script type="text/javascript" src="assets/jslib/bootstrap-transition.js"></script>
        <script type="text/javascript" src="assets/jslib/bootstrap-collapse.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.easypiechart.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.raty.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.sharrre.js"></script>
        <script type="text/javascript" src="assets/jslib/jquery.hoverdir.js"></script>
        <script type="text/javascript" src="assets/js/Template.js"></script>
        <!-- end javascripts -->
        <!-- .style-panel -->
        <div class="style-panel" style="display:none">
            <div class="style-panel__button">
                <i class="fa fa-paint-brush"></i>
            </div>
            <div class="style-panel__title">Choose a color:</div>
            <div class="style-panel__colors">
                <a data-value="style1" href="resume.html#" class="style-panel__color style-panel__color--style1"></a>
                <a data-value="style2" href="resume.html#" class="style-panel__color style-panel__color--style2"></a>
                <a data-value="style3" href="resume.html#" class="style-panel__color style-panel__color--style3"></a>
                <a data-value="style4" href="resume.html#" class="style-panel__color style-panel__color--style4"></a>
                <a data-value="style5" href="resume.html#" class="style-panel__color style-panel__color--style5"></a>
                <a data-value="style6" href="resume.html#" class="style-panel__color style-panel__color--style6"></a>
            </div>
            <div class="style-panel__info">and many more...</div>
            <div class="style-panel__reset">
                <button class="btn-reset btn btn-xs btn--style1">reset</button>
            </div>
        </div>
        <!-- end .style-panel -->
        <!-- style panel assets -->
        <script type="text/javascript" src="assets/jslib/jquery.cookie.js"></script>
        <script type="text/javascript" src="assets/js/StylePanel.js"></script>
        <!-- end style panel assets -->
    </body>
</html>